@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(239, 210, 198);
}

.green{
    border: 10px solid rgb(0, 128, 78);
}

h2 {
    color: rgb(216, 49, 53);
    text-align: center;
}

h3 {
    color: rgb(216, 49, 53);
    text-align: center;
}

h4 {
    color: rgb(216, 49, 53);
    text-align: center;
}
 
.presen{
    font-size: 28px;
    text-align: justify;
    margin: 20px;
}

.presentacion{
    text-decoration-line: underline;
    font-size: 15px;
    list-style: lower-roman;
    margin: 5px;
    text-indent: 10px;
}

.coordinador{
    font-size: 12px;
    text-align: center;
}

/* .pfp{
    color: rgb(0, 155, 216);
    font-size: 30px;
    text-align: justify;
    margin-left: 40px;
} */

.perfilo{
    font-size: 28px;
    text-align: justify;
    margin: 20px;
}

/* .po{
    font-size: 15px;
    text-indent: 5px;
}  */

/* Combinadores */

.salto ul{
    line-height: 25px;    
}

.green > h4{
    color: rgb(216, 49, 53);
    text-align: center;
}

.parrafos p{
    color: rgb(0, 155, 216);
    font-size: 30px;
    text-align: justify;
    margin-left: 40px;
}

ul ~ li[class="a"]  {  
    font-size: 15px;
    text-indent: 5px;
}

